{% extends 'base.html' %}

 {% block content %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    $(document).ready(() => {
        getTaskList();
    })

    function createTask() {
        const form = $(".create_task");
        $.ajax({
            type: "POST",
            url: "/todolist/create_task/",
            data: form.serialize(),
        }).done(function (data) {
            form.trigger("reset");
            getTaskList();
        });
        $("#staticBackdrop").modal("hide");
    }

    function deleteTask(id) {
        $.ajax({
            type: "GET",
            url: "/todolist/delete-task/" + id,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        }).done((data) => {
            getTaskList();
        })
    }

    function toggleTaskStatus(id) {
        $.ajax({
            type: "GET",
            url: "/todolist/toggle-task/" + id,
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: id}
        }).done((data) => {
            getTaskList();
        })
    }

    function getTaskList() {
        $.ajax({
            type: "GET",
            url: "/todolist/json/"
        }).done((data) => {
            putTaskList(data);
        });
    }

    function putTaskList(data) {
        console.log("LOOK HERE" + data)
        const cardContainer = $('.cardContainer');
        cardContainer.empty();
        data.forEach(task => {
            const taskCard = `
            <div class="card" style="width: 350px;">
              <div class="card-body">
                <h5 class="card-title">${task.fields.title}</h5>
                <h6 class="card-subtitle mb-2 text-muted">${task.fields.date}</h6>
                <p class="card-text">${task.fields.description}</p>
                ${task.fields.is_finished ? "Selesai" : "Belum Selesai"} <br>
                
                <td class="change-status-btn" style="padding:10px;">
                    <input type="submit" value="Change Status" class="btn btn-primary toggleButton" onclick="toggleTaskStatus(${task.pk})" />
                </td>
                <td class="delete-task-btn" style="padding:10px;">
                    <input type="submit" value="Delete Task"  class="btn btn-danger toggleButton" onclick="deleteTask(${ task.pk })" />
                </td>
              </div>
            </div>
            `
            cardContainer.append(taskCard);
        })
    };
</script>

  <style>
  body {
    background-image: url(https://docs.google.com/uc?id=1M3IAYW6UYk0ycoTfyI84u7vPI2BgZCPA);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  * {
    font-family:'Times New Roman', Times, serif;
    text-align: left;
    vertical-align: middle; 
  }

  h2 {
    padding-top: 20px;
    text-align: center;
    font-weight: bolder;
    color: red;
  }

  h5.text-muted {
    text-align: left;
    margin-left: 160px;
    text-align: left;
    color: red;;
    font-family:'Times New Roman', Times, serif
  }

  h6 {
    margin-top: 10px;
    
  }

  .card {
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(56, 67, 208, 1);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color:rgba(56, 67, 208, 0.2);
    color:white
  }

  .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.75);
  }
  
  .button {
        border-width: 1px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color:red;
        border: 1px solid red;
        color: white;
        padding: 4px 8px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
  }

  .CreateTaskButton {
    font-family:'Times New Roman', Times, serif;
    border: 1px solid red;
    background-color:red;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .CreateTaskButton:hover {
    font-family:'Times New Roman', Times, serif;
    border: 1px solid red;
    background-color:red;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.75);
  }

  .CreateTaskButton:activate {
    font-family:'Times New Roman', Times, serif;
    border: 1px solid red;
    background-color:red;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .toggleButton {
    font-family:'Times New Roman', Times, serif;
    border: 1px solid red;
    background-color:red;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .toggleButton:hover {
    font-family:'Times New Roman', Times, serif;
    border: 1px solid red;
    background-color:red;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.75);
  }

  .toggleButton:activate {
    font-family:'Times New Roman', Times, serif;
    border: 1px solid red;
    background-color:red;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }


  .button:hover {
    border: 1px solid red;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.75);
  }

  .button:activate {
    border: 1px solid red;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
  }

  </style>

  <h2>My Todolist<h2>

  <h5 class="text-muted">User logged in: {{user}} </h5>

  <div class="cardContainer">
    
  </div>
  
<h6 class="text-muted">Sesi terakhir login: {{ last_login }}</h6>
<button type="button" class="btn btn-primary CreateTaskButton" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Create a new task</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Task Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form class="create_task" method="POST">
              {% csrf_token %}
              <div class="form-floating responsive" style="padding-left:0.5%;margin-top: 2%;">
                <input 
                type="text" 
                class="form-control" 
                id="floatingInput" 
                name="title" 
                placeholder="Title">
                <label for="floatingInput">Title</label>
              </div>
            
              <div class="form-floating responsive" style="padding-left:0.5%;margin-top: 2%;">
                <textarea 
                class="form-control" 
                id="floatingDescription" 
                name="description" rows="4" cols="50" placeholder="Description"></textarea>
                <label for="floatingDescription" style="padding-left:2.5%;">Description</label>
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="createTask()">Create Task</button>
      </div>
    </div>
  </div>
</div>  

<a href="{% url 'todolist:logout' %}" style="text-decoration: none;" class = "button">Logout</a>

 {% endblock content %}