{% extends 'base.html' %}

 {% block content %}

  <h1>TUGAS 3 PBP/PBD</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{npm}}</p>

  <table>
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release date</th>
      <th>Review</th>
    </tr>
    {% comment %} Add the data below this line {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{film.watched}}</th>
        <th>{{film.movie_title}}</th>
        <th>{{film.movie_rating}}</th>
        <th>{{film.movie_release_date}}</th>
        <th>{{film.movie_review}}</th>
    </tr>
{% endfor %}
  </table>

 {% endblock content %}
